<h2 class="page-header">Новая книга</h2>
<form action="/books" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Отмена</a>
    <button class="btn btn-primary" type="submit">Создать</button>
  </div>
</form>