<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
  <div>
    <img class="book-cover" src="<%= book.coverImagePath %>">
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Редактировать</a>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
    </div>
  </div>
  <div class="book-details-grid">
    <div class="book-details-label">Автор:</div>
    <div><%= book.author.name %></div>
    <div class="book-details-label">Дата публикации:</div>
    <div><%= book.publishDate.toDateString() %></div>
    <div class="book-details-label">Количество страниц:</div>
    <div><%= book.pageCount %></div>
    <div class="book-details-label">Описание:</div>
    <div><%= book.description %></div>
  </div>
</div>