<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Моя библиотека</a>
    <ul>
      <li><a href="/authors">Авторы</a></li>
      <li><a href="/authors/new">Добавить автора</a></li>
      <li><a href="/books">Книги</a></li>
      <li><a href="/books/new">Добавить книгу</a></li>
    </ul>
  </nav>
</header>