@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root {
    font-family: 'Gotham Rounded', monospace;
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}

.error-message {
    color: hsl(var(--color-danger-hue), 100%, 50%);
}

body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(0, 14, 23), rgb(0, 28, 46), rgb(0, 42, 70), rgb(0, 56, 93), rgb(0, 70, 116), rgb(0, 83, 139), rgb(0, 97, 162), rgb(0, 111, 185), rgb(0, 125, 209), rgb(0, 139, 232), rgb(0, 153, 255));
}