<h2 class="page-header">Редактировать автора</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/authors/<%= author.id %>">Отмена</a>
    <button class="btn btn-primary" type="submit">Применить</button>
  </div>
</form>