<h2 class="page-header">Поиск автора</h2>
<form action="/authors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Имя</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Найти</button>
  </div>
</form>
<br>
<% authors.forEach(author => { %>
  <div class="author-row">
    <div class="author-name"><%= author.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/authors/<%= author.id %>">Посмотреть</a>
      <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Изменить</a>
      <%- include('../partials/deleteForm',
                  { url: `/authors/${author.id}` }) %>
    </div>
  </div>
<% }) %>